[2014-11-05 22:44] taoeffect opened #3 "Add Mailpile"
Yes.
##

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/5794726-add-mailpile?utm_campaign=plugin&utm_content=tracker%2F8064840&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F8064840&utm_medium=issues&utm_source=github).
</bountysour

[2014-11-05 23:23] taoeffect opened #5 "Figure out implications of `{{ domain }}`"
It would be ideal to not "brand" the machine with `domain` as defined in `vars/user.yml`, but instead simply have a list of domains with no "primary" one.

If a primary one is required, its **implications** (for example, the fact that using `mail` from the terminal will have a `FROM:` header of `{{ domain }}`) need to be thoroughly mapped out and documented. Any unnecessary externalities must be e

[2014-11-05 23:47] taoeffect opened #6 "Get rid of z-push, owncloud, google auth (?), and other unused items."
See `vars/defaults.yml` and `vars/disabled_extras.yml` for a complete list. We might want to get rid of the latter file as well.
##

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/5796287-get-rid-of-z-push-owncloud-google-auth-and-other-unused-items?utm_campaign=plugin&utm_content=tracker%2F8064840&utm_medium=issues&utm_source=github

[2014-11-05 23:50] taoeffect commented on #6
Also, all remnants of Apache.

[2014-11-06 00:01] taoeffect opened #7 "Fix backports pinning."
Some packages should be installed from backports or unstable. Nginx is a good candidate, since the version in stable is ancient.

However, as per our experiments installing `emacs24-nox` from backports, we need to make sure that we have the right pinning, otherwise the installation seems to not work. The pin should be equivalent to whatever is the default for stable (I think) to fix this.

Empress

[2014-11-06 00:01] taoeffect opened #8 "Install nginx and add sane config"
Requirements:
- All traces of Apache server must be obliterated (see also #6)
- Must not destroy or overwrite existing nginx installations / configurations
- Must be secure (see [bettercrypto](https://bettercrypto.org/) and [mozilla's thing](https://mozilla.github.io/server-side-tls/ssl-config-generator/))
- Nginx config [must **NOT**](https://twitter.com/taoeffect/status/530146320342724608) enabl

[2014-11-06 01:19] taoeffect opened #9 "Fix vars/user.yml or get rid of it."
We're not using postgres: https://github.com/taoeffect/empress/blob/master/vars/user.yml
##

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/5797479-fix-vars-user-yml-or-get-rid-of-it?utm_campaign=plugin&utm_content=tracker%2F8064840&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.

[2014-11-06 01:33] taoeffect opened #10 "Migrate vars/mail.yml to user.yml"
Goes with #9.

[2014-11-06 01:51] taoeffect opened #11 "Improve README"
1. Someone who has no idea what Ansible is should be able to quickly get up and running.
2. It should be clearly spelled out what files should be edited.
3. It should be clearly spelled out what Empress will do to someone's system.
4. We should link to our own wiki.
##

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/5797859-improve-

[2014-11-06 02:14] taoeffect opened #12 "Get rid of `mail_virtual_domains` if possible."
These can be inferred from `mail_virtual_users`, right?
##

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/5798174-get-rid-of-mail_virtual_domains-if-possible?utm_campaign=plugin&utm_content=tracker%2F8064840&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin

[2014-11-06 02:55] taoeffect commented on #11
Ideally, zero knowledge or use of Ansible should be required. cc @PiPeep

[2014-11-06 03:05] taoeffect opened #13 "Step-by-step Tutorial / Guide on how to setup everything up."
Related to #11.

Need to have in the README a step-by-step guide of what to setup, what files to edit, example session, etc.
##

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/5798862-step-by-step-tutorial-guide-on-how-to-setup-everything-up?utm_campaign=plugin&utm_content=tracker%2F8064840&utm_medium=issues&utm_source=github)** We a

[2014-11-06 03:49] taoeffect opened #14 "Rearchitect flow"
Ideally, this is how it should work:
1. Select desired functionality (ex: send mail, receive mail, webmail, migration, etc.)
2. For each functionality, select desired implementation (ex: postfix vs exim, dspam vs spamassassin, mailpile vs roundcube, etc.)
3. For each implementation, select desired options and dependencies (ex: backend for email from [sqlite, mariadb, pqsql, etc.]; for migration [e

[2014-11-06 04:13] bgw commented on #7
You don't need to set pinning for backports:

`emacs24-nox` only had issues because the test server had mixed packages from unstable.

At this point, I'm thinking it might actually be best to remove the "niceties" stuff, since this is email focused. Same with removing the "default user". If someone wants to set that up, they should do it themselves or with a different script.

[2014-11-06 04:13] #7 closed, assigned to bgw

[2014-11-06 04:33] taoeffect opened #15 "C2S = TLSv1.2"
@MacLemon points out that C2S should be TLSv1.2. Our issues with TLSv1.2 were S2S (server-to-server). Figure out what parts can be safely made TLSv1.2 while preserving current defaults for everything else.
##

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/5800028-c2s-tlsv1-2?utm_campaign=plugin&utm_content=tracker%2F8064840&utm_medi

[2014-11-06 04:43] bgw commented on #15
I still don't understand this issue. We don't support STARTTLS for client SMTP submission or IMAP. Since we only use the TLS wrapper modes for both, it's impossible for C2S to be unencrypted.

S2S is a bit more complicated.

Unfortunately, the reality is that the servers we have to work with are worse than the clients.

[We copied the "may" option from bettercrypto's config](https://bettercrypto.o

[2014-11-06 21:45] taoeffect commented on #14
lol, nice tag @pipeep.

[2014-11-06 22:11] taoeffect opened #17 "Make the authdb.sqlite database group vmail and add write access"
This is a requirement if we want to support a web-admin interface in the future. We don't want some web framework software running as root.
##

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/5820754-make-the-authdb-sqlite-database-group-vmail-and-add-write-access?utm_campaign=plugin&utm_content=tracker%2F8064840&utm_medium=issues&ut

[2014-11-07 21:00] taoeffect opened #18 "Contact al3x and discuss modularizing sovereign"
[Sovereign](https://github.com/al3x/sovereign) does way too many things, and because of that, each individual thing it does isn't as good as it could be. If sovereign instead were a "package" system for specific ansible goals (setting up email, setting up calendars, setting up personal dropbox, etc.), then the individual packages would be free to focus and specialize on what they do best.

Ideally

[2014-11-07 21:39] taoeffect commented on #17
Actually, instead of changing the perms, this seems more like it:
- be able to run ansible remotely on the server
- have the web admin interface modify the `.yml` file
- then have it re-run empress

[2014-11-07 21:44] taoeffect opened #19 "Add back autoconfig?"
@PiPeep says we should do this when we've got nginx.
##

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/5847755-add-back-autoconfig?utm_campaign=plugin&utm_content=tracker%2F8064840&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F8064

[2014-11-07 21:57] taoeffect opened #20 "Rename dspam "Spam" folder "Junk""
I don't know why sovereign doesn't already do this (given that they linked to [this blog post that uses it](http://sealedabstract.com/code/nsa-proof-your-e-mail-in-2-hours/)), but it seems like installing and setting up `dovecot-antispam` might be a good idea.

[2014-11-07 21:59] taoeffect commented on #20
Make sure the folder is called "Junk", not "Spam", and lives in the root of each mailbox.

[2014-11-07 22:01] taoeffect opened #21 "Add back Roundcube as an option"
By default we'll use Mailpile, but if someone wants to use Roundcube instead they should be able to choose that.

Obviously depends on #8 (nginx).
##

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/5848029-add-back-roundcube-as-an-option?utm_campaign=plugin&utm_content=tracker%2F8064840&utm_medium=issues&utm_source=github)** We acce

[2014-11-07 22:02] taoeffect opened #22 "DSPAM interface"
Once we get #8 (nginx) we should add whatever the DSPAM web interface is.
##

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/5848059-dspam-interface?utm_campaign=plugin&utm_content=tracker%2F8064840&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_conte

[2014-11-07 22:12] taoeffect commented on #8
We should install from their repo as per: http://wiki.nginx.org/Install (make sure to use `wheezy` instead of `squeeze` and grab their GPG key).

[2014-11-07 22:17] taoeffect commented on #18
If @al3x likes this idea, then we could create "official" modules using the sovereign brand, similar to how grunt plugins work. I.e. this could become `sovereign-mail`, there could be calendar stuff as `sovereign-cal`, etc.

[2014-11-07 22:21] taoeffect opened #24 "Switch to port 587 for SMTP"
See comments in al3x/sovereign#318.

[2014-11-07 22:26] bgw commented on #8
Related to this: https://github.com/h5bp/server-configs-nginx

[2014-11-07 22:30] taoeffect commented on #8
Nice link. :+1:

[2014-11-07 22:51] taoeffect commented on #20
so @PiPeep observed that this gets installed already (in dspam.yml). Still need to make sure the folder is called "Junk" (for client compat).

[2014-11-07 22:57] taoeffect commented on #20
nm, looks like it already supports and does it.

[2014-11-07 22:57] #20 closed, assigned to bgw

[2014-11-07 23:48] al3x commented on #18
I'm totally fine with a more modularized Sovereign. It does do quite a lot at this point. Other people have suggested using Ansible Galaxy, Docker, etc. I'm open to whatever as long as the actual work of porting modules gets done :)

[2014-11-08 00:10] taoeffect opened #25 "get rid of `main_user_name` in user.yml"
Not something we should be depending on or doing.
##

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/5850118-get-rid-of-main_user_name-in-user-yml?utm_campaign=plugin&utm_content=tracker%2F8064840&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content

[2014-11-08 02:22] taoeffect opened #26 "authdb.sqlite isn't being filled"
During my tests with ansible 1.7.1 (perhaps that's the problem?) `authdb.sqlite` didn't get filled. The command is correct (since that's how I manually fixed it), but for whatever reason it's not working via ansible.

[2014-11-08 02:25] taoeffect opened #27 "Add a migration section to the README w/warning"
- Explain what part of the `vars/user.yml` is responsible for migration and give an example
- Warn the user that during the migration their password will be exposed via server logs (since it's passed in on the command line as a parameter), and that any other users on the system may be able to see it while it's running via `ps auwwwx`, `htop`, etc.
- Make sure that the migration is run _locally_ on

[2014-11-08 02:27] taoeffect opened #28 "Run everything locally on the server itself (*especially* the migration)!"
It takes way too long (especially the migration part, which will take hours for most people) and the potential for something to go wrong because of a dropped connection is not worth the risk.
##

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/5851881-run-everything-locally-on-the-server-itself-especially-the-migration?utm_campaign=pl

[2014-11-08 02:30] taoeffect opened #29 "Make the mail location a variable (i.e. get rid of all hard-coded `/decrypted` stuff)"
- `/decrypted` should be a variable defined in `vars/defaults.yml` and overriden in `vars/user.yml`
- Its permissions must be very well thought out, especially since it might be used with other sovereign modules as per #18.

_note to @al3x: we got rid of `encfs` and don't recommend it or any other system whereby a private key is stored on the same server as the encrypted data._
##

<bountysource-p

[2014-11-08 02:34] taoeffect commented on #18
@al3x Awesome! Glad to hear you're open to the idea! :smile: :+1:

I'll need to look into Ansible Galaxy. I don't recommend Docker (I evaluated it and came to the conclusion that personal servers don't appear to be good use cases for it).

[2014-11-08 04:38] bgw commented on #18
Here's one option:
- Split every role in sovereign into finer-grained roles
  - `mailserver` might become `dovecot` and `postfix`
  - split `common` into separate `fail2ban`, `unattended-upgrades`, etc roles
  - use role dependencies, where that makes sense
- Split every role into a separate repository
  - We can do this with [git-subtree](https://stackoverflow.com/questions/359424/detach-subdirec

[2014-11-08 04:41] taoeffect commented on #28
The docs should recommend editing the ansible `hosts` file and adding `localhost ansible_connection=local` into it.

[2014-11-08 04:56] taoeffect opened #30 "Mention using dovecot 2.2+ in Migration section of README"
To speed up the migration, and to fix migration errors, users should install dovecot from Debian `testing` or `unstable` (or whatever's necessary to get version 2.2+).

Speeding up also involves removing the `{# fetch-headers #}` jinja comment in `migration/tasks/main.yml`.
##

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/5853122-m

[2014-11-08 04:59] taoeffect commented on #18
So that sounds like you're on the right track. Users need an easy way to say "want sovereign-mail, sovereign-cal, etc."

Git submodules doesn't (to my knowledge) let you pick and choose submodules. It's all-or-nothing as far as I remember. So how do we let them pick and choose (cause it's important to split these things up into separate projects too).

[2014-11-08 05:46] taoeffect opened #32 "Migration step ignores ansible's "creates" argument, proceeds anyway"
Running `ansible-playbook -vvv migration.yml` locally on the server (in tmux), I noticed:
- the migration will run regardless of the existence of `dovecot.index.log`
- it will continue running the background if you `^C` it, and the only safe way I could figure of killing it was to first `systemctl stop dovecot`, then `kill -9` the `dsync` processes, restart dovecot, comment out the `creates:` thin

[2014-11-08 07:20] taoeffect opened #33 "Update wildcard instructions for StartSSL"
StartSSL doesn't support free wildcard certs. Need to document how to create free TLS certs w/CSRs for arbitrary domains with StartSSL.

[2014-11-08 20:08] taoeffect opened #34 "Change to support SSL-cert per domain & add sha256 certs"
Currently Sovereign/Empress only support one wildcard cert for a single domain.

We should instead support one wildcard cert per domain. A single server can have multiple domains that it's managing email for, and each of those will have a different domain.

Obviously, we should also do SHA256 hashes.

Here's how to do a self-signed wildcard cert w/sha256:
### 1. Copy one of these files:

[code]

*

[2014-11-08 20:16] taoeffect commented on #34
Note also that StartSSL supports only one free subdomain per domain per certificate, however they do not restrict the number of certs you create, so it's effectively a free wildcard if you're willing to go through the steps above for each subdomain you want.

[2014-11-08 20:41] taoeffect commented on #34
Am reading the following:
- http://www.postfix.org/TLS_README.html **See especially _" Secure server certificate verification"_ section**
- https://serverfault.com/questions/583739/startssl-com-ssl-class2-certificate-and-postfix

It's looking like this might have to be done completely through the `alt_names`, but I could use an extra set of eyes/brains.

[2014-11-08 21:34] taoeffect commented on #34
In that [first link](http://www.postfix.org/TLS_README.html) they say that Postfix doesn't support SNI. We'll need to evaluate whether the workaround they mention is acceptable. If it's not we will have to ditch Postfix.

[2014-11-08 23:03] taoeffect commented on #34
Err, OK, skimming it a bit more closely, that stuff is only relevant when you're actually doing TLS authentication, which our current level `may` does not do.

At the [verify](http://www.postfix.org/TLS_README.html#client_tls_verify) and [secure](http://www.postfix.org/TLS_README.html#client_tls_secure) levels, things get more hairy, and that's where this multiple-domains SNI stuff might become an

[2014-11-14 20:47] bgw commented on #26
I just tested the version in master in vagrant. Fixed by #31.

[2014-11-14 20:47] #26 closed, assigned to bgw

[2014-11-14 20:52] bgw commented on #24
[This means we need to use STARTTLS](https://stackoverflow.com/questions/15796530/what-is-the-difference-between-ports-465-and-587).

[2014-11-14 22:08] taoeffect commented on #24
Wow, didn't know that it required STARTTLS. OK, screw that then.

[2014-11-14 22:08] #24 closed, assigned to bgw

[2014-11-14 22:14] bgw commented on #24
To clarify, it appears the issue is that people may misconfigure their mail client to allow a STARTTLS downgrade attack, whereas it's impossible to misconfigure smtps.

[2014-11-14 22:25] taoeffect commented on #34
@PiPeep points out that MTAs don't verify certs right now anyway, and that going to a CA is pretty much unacceptable from a usability standpoint, so we should probably just stick to a wildcard cert for this.

Am tempted to close the issue.

[2014-11-14 22:32] taoeffect commented on #34
With having to support multiple email domains, @PiPeep rightly, and painfully, observes that it actually seems like the "correct" route to generate one self-signed cert for all the domains on the box, and the CN (common name) doesn't matter.

[2014-11-14 22:38] #33 closed, assigned to nobody

[2014-11-14 22:39] taoeffect commented on #33
Closed as per revelations in #34. https://github.com/taoeffect/empress/issues/34#issuecomment-63139089

Might re-open if there's reason to.

[2014-11-17 05:20] taoeffect opened #36 "Switch to larch by default"
dsync, even with the experimental 2.2.15 build, results in:

[code]
##

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/6174718-switch-to-larch-by-default?utm_campaign=plugin&utm_content=tracker%2F8064840&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm

[2014-11-22 19:29] taoeffect commented on #30
Might not be so important given that we'll be using Larch by default (#36).

[2014-11-22 19:43] taoeffect opened #37 "Put all SSL cert stuff in The Right Folder™"
So, related to al3x/sovereign#251, and related to [my comment here](https://github.com/taoeffect/empress/pull/35/files#r20759241) (which i'll quote here):

Also worth doing, as part of this issue or a separate one, moving `roles/common/files/wildcard_private.key` (the user's key) to a top level folder called `secrets` instead of buried within the roles.

So this is a two parter:
1. Place `.key` an

[2014-11-22 19:46] taoeffect commented on #37
Actually, @PiPeep reminds me that PR #35 gets rid of the default private key, so we're good on not being negligent, but we still need to fetch the user's key from a top-level `secrets` folder.

[2014-11-22 20:18] taoeffect opened #38 "mail.{{ domain }} confusion -> breaks mail_virtual_domains loops"
So `mail_virtual_domains` is often looped through in configuration files. In some places `mail.` is prepended and in some places it's not. For example, the recent PR #35 loops through this variable in `openssl.cnf`:

https://github.com/taoeffect/empress/pull/35/files#diff-fc4a7a00381d9bd47edfe77044dbca15R43

The user should be the one specifying what their mail server is called, and this should no

[2014-11-22 20:21] taoeffect commented on #38
A complete listing of all usages:

![screen_shot_2014-11-22_at_12 19 54_pm](https://cloud.githubusercontent.com/assets/138706/5155507/14a0bb22-7242-11e4-9311-aa40a598a0a9.jpg)

[2014-11-22 20:28] taoeffect commented on #38
So one thing that's clearly broken is @PiPeep's PR #35 openssl.cnf: https://github.com/taoeffect/empress/pull/35/files#diff-fc4a7a00381d9bd47edfe77044dbca15R43

Which should contain the mail. prefix, or using the wildcard, or ignore it (but be explicit about that in a comment or something).

[2014-11-22 20:55] taoeffect opened #39 "Need way to disable Solr (too much RAM usage)"
And ideally a replacement that doesn't use Java...
##

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/6448563-need-way-to-disable-solr-too-much-ram-usage?utm_campaign=plugin&utm_content=tracker%2F8064840&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_

[2014-11-22 22:28] taoeffect commented on #38
OK, @PiPeep switched to wildcards, and I think the rest of the usages of `mail.{{ ...` seem fine. The OpenDKIM stuff seems fine too. Apparently sent emails are signed as from `default.EXAMPLE.com` instead of `mail.EXAMPLE.com`... but our tests show that's OK.

[2014-11-22 22:28] #38 closed, assigned to taoeffect

[2014-11-22 22:41] taoeffect opened #43 "Make it clear where to clone the repo to"
The docs don't specify where to clone the repo to.

There are two options:
1. Clone to deploy machine (locally, your laptop, etc.)
2. @bnvk's (and my) use case (for email migration etc) clone to remote machine.

These two options need to be documented, probably on a wiki that's linked from the readme.
##

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.boun

[2014-11-22 22:43] taoeffect commented on #43
Should probably also give pros/cons of both approaches.

@PiPeep also suggests using a `docs/` folder instead of GitHub's wiki (since it's not synced with the repo). Good suggestion. :+1:

Re pros/cons, the basics are: if deploy machine's connection goes down and you're doing it from there things can get broken. If you're doing it remotely and you brick the server, users can lose their customizati

[2014-11-22 22:49] taoeffect opened #44 "Get rid of `main_user_name`"
Leftover from sovereign.
##

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/6449743-get-rid-of-main_user_name?utm_campaign=plugin&utm_content=tracker%2F8064840&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F8064840&utm_medium=issues&

[2014-11-22 22:55] taoeffect opened #46 "Document how to regen keys for TLS certs and OpenDKIM"
At the time of posting, for TLS certs relevant file [is here](https://github.com/taoeffect/empress/blob/09177c2ae114cf53edc9d395f6aff5da28883527/roles/common/tasks/ssl.yml) (at a specific commit, so might be outdated).

That, once #37 is closed, will all be put into a single folder (which can be `rm -rf`'d). But right now the public/private keys and certs are in separate locations:
- /etc/ssl/priv

[2014-11-22 23:17] taoeffect commented on #46
Note that these files shouldn't remain on the server (~~separate issue?~~ copied to #37):
- /etc/ssl/certs/wildcard_public_cert.crt
- /etc/ssl/certs/wildcard_ca.pem
- /etc/ssl/private/wildcard.csr
- /etc/ssl/private/openssl.cnf

[2014-11-22 23:25] taoeffect commented on #37
[Copied from 46](https://github.com/taoeffect/empress/issues/46#issuecomment-64099357):

Note that these files shouldn't remain on the server:
- /etc/ssl/certs/wildcard_public_cert.crt
- /etc/ssl/certs/wildcard_ca.pem
- /etc/ssl/private/wildcard.csr
- /etc/ssl/private/openssl.cnf

[2014-11-23 08:04] taoeffect opened #47 "dsync and larch don't do the same thing"
Larch will preserve the `INBOX.` prefix that's found on many servers, whereas dsync, with the way we're using it, won't. This will result in a situation where if both methods are used to sync mail, a whole bunch of duplicate folders will be created.

Meaning, larch will create `.INBOX.foobar` and dsync will create `.foobar`.

Since larch does this on its own and there doesn't seem to be a way to f

[2014-11-23 08:05] taoeffect commented on #47
I honestly don't know what the "proper" behavior here is, and it doesn't help that I have no idea why these `INBOX.` folders are created in some instances and not in others.

[2014-11-23 17:27] odinho commented on #18
Unconvinced about the need to split into separate git repos.  Too much complexity is also a factor.  Having everything in one repo Google-style is possible; it can still be perfectly modular.  Added cost of a few kilobytes of unused modules are no problem.  Also discoverability is higher.

Also, http://debops.org/ seem a bit similar to this effort.  Only this seems a bit more focused towards ease

[2014-11-24 06:08] taoeffect opened #49 "Dovecot SSL settings too strong for Apple Mail :-\"
`ssl_protocols = !SSLv2 !SSLv3 !TLSv1` doesn't work with Apple Mail.

`ssl_protocols = !SSLv2 !SSLv3` does.
##

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/6474295-dovecot-ssl-settings-too-strong-for-apple-mail?utm_campaign=plugin&utm_content=tracker%2F8064840&utm_medium=issues&utm_source=github)** We accept bounties via [Bountyso

[2014-11-24 06:17] taoeffect opened #50 "Docs for Thunderbird/Mail related to INBOX subfolders"
In some setups on webhosts (like DreamHost's), all "root folders" are for some reason created as sub-folders of INBOX.

Apple Mail seems to automatically detect this and set an `INBOX` prefix:

![screen shot 2014-11-23 at 10 13 53 pm](https://cloud.githubusercontent.com/assets/138706/5161457/0dc9d118-735e-11e4-89ac-e44b6fe271e2.jpg)

Thunderbird, however, does not, and will show them all as subfol

[2014-11-24 20:26] taoeffect commented on #22
Whatever it is, it needs to be clear in showing the user that it is working.

[2014-11-24 20:28] taoeffect commented on #49
Should be noted that it works fine in Mozilla Thunderbird. :+1:

[2014-11-24 21:26] taoeffect opened #51 "what's this postscreen error message?"
[code]

?

[2014-11-24 21:30] bgw commented on #51
https://web.archive.org/web/20130630074218/http://tech.groups.yahoo.com/group/postfix-users/message/272609

[2014-11-24 21:30] #51 closed, assigned to bgw

[2014-11-24 22:28] taoeffect opened #52 "DSPAM not working...?"
I've gotten four of these emails today and DSPAM still declares "Viagra_Cialis" (of all things) "Innocent" with high confidence!

[code]

In fact, I'm not sure it's classified anything as spam yet... Related to #22.

![screen_shot_2014-11-24_at_2 24 51_pm](https://cloud.githubusercontent.com/assets/138706/5174452/23247940-73e6-11e4-8541-e60a42e9a036.jpg)
##

<bountysource-plugin>
---
Want to back

[2014-11-24 22:29] taoeffect commented on #52
Could this be because my Junk folder is in `INBOX.Junk` instead of `Junk`.... ? If so, how do we get it to check both?

[2014-11-24 22:30] bgw commented on #52
You sure it's spam? It looks like a great deal on a fantastic product! :pill:

[2014-11-24 22:31] taoeffect commented on #52
har har

[2014-11-24 23:01] bgw commented on #52
For an immediate fix, add `INBOX.Junk` and `INBOX.Spam` to [`/etc/dovecot/conf.d/90-plugin.conf`](https://github.com/taoeffect/empress/blob/master/roles/mailserver/files/etc_dovecot_conf.d_90-plugin.conf#L13)

[2014-11-24 23:06] taoeffect commented on #52
K, note that the trash equivalents must be added too (and case sensitive??? Ick).

[2014-11-24 23:27] taoeffect commented on #52
Thanks for the tip @PiPeep! I'll let you know if it seems like it's working or not.

[2014-11-28 05:26] bgw commented on #47
The INBOX folders seem unnecessary, and we could use the [`--to-folder`](https://github.com/rgrove/larch#usage) option to remove it. I think doing so would fix #50 and #52. I would like to verify first though, that for accounts that _aren't_ migrated, dovecot won't produce the INBOX folder automatically. [As far as I can tell, it shouldn't](https://github.com/taoeffect/empress/blob/5ece50d0853cccf

[2014-12-01 05:33] taoeffect opened #53 "Get rid of roles/tarsnap/files/decrypted_tarsnap.key"
Users should follow the [tarsnap instructions](https://www.tarsnap.com/gettingstarted.html) and place the key in `/root/.tarsnap/tarsnap.key`. Having it look for the key in `roles/tarsnap/files/decrypted_tarsnap.key` is potentially dangerous (could get committed and pushed somewhere it's not supposed to), and it's just a weird location for it. I think we already did this with the SSL certs, so let

[2014-12-01 06:02] taoeffect opened #54 "Tarsnap should only backup databases that exist"
Right now it assumes postgresql is installed and tries dumping the database and backing that up.

It should:
- Backup MariaDB/MySQL (only if it exists)
- PostgreSQL (only if it exists)
##

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/6645296-tarsnap-should-only-backup-databases-that-exist?utm_campaign=plugin&utm_content=tracker%2F8

[2014-12-01 06:21] taoeffect opened #55 "Better tarsnap configuration"
- All data should be in `/root/.tarsnap`, this includes the `tarsnap.key` (#53) and the `cache` directory
- The `/root/.tarsnaprc` should look like so:

[code]

Having Tarsnap's key and cache directory in separate locations is ugly and confusing. Plus currently the cache directory is world-readable, and that's not good as it contains plaintext filenames.
##

<bountysource-plugin>
---
Want to back

[2014-12-01 06:35] taoeffect commented on #55
Also, @al3x or @PiPeep, do either one of you know why tarsnap.sh [uses the `-L` option](https://github.com/taoeffect/empress/blob/593885e63eaeac4346a16971aab2c87caad9f230/roles/tarsnap/files/tarsnap.sh#L28):

[code]

That tells it to follow links when archiving instead of backing them up as links. Since this is backing up the entire system, that seems like the wrong thing to do... Anything that's

[2014-12-01 06:42] taoeffect commented on #52
@PiPeep I'd like to say that it's working, but I still can't be sure. It _is_ catching some spam (less than Apple Mail.app though), and I'm not sure if it's actually learning or not.

The log file is showing some activity though:

[code]

[2014-12-01 06:46] taoeffect commented on #52
I think it won't work because of [this](https://github.com/taoeffect/empress/blob/5ece50d0853cccfca1071218b2c6b2dc2d0edf79/roles/mailserver/files/etc_dovecot_conf.d_10-mail.conf#L90-L93) in the config file:

[code]

See that `special_use`? It only references the top-level `Junk` folder, so adding `INBOX.Junk` to the dspam plugin settings may not do anything...? It would be nice if we could figure

[2014-12-01 06:46] taoeffect commented on #47
How exactly would that work? The default for larch is INBOX, and we're using `--all` which seems to possibly be mutually exclusive to that..?

See also [this comment](https://github.com/taoeffect/empress/issues/52#issuecomment-65026450).

[2014-12-01 07:00] taoeffect commented on #18
@Velmont Thanks for the link to debops. Very interesting!

I've given this more thought and came up with the following Principle:

**Principle: users shouldn't install any more software than is absolutely necessary to get the desired services.**

The main concern is modularity and respecting choice for the end-user.

Ideally, we want a system that would allow an interface to be built on top of it

[2014-12-02 22:19] bgw commented on #39
In addition to allowing someone to completely disable it, we could use [CLucene](http://wiki2.dovecot.org/Plugins/FTS/Lucene), which would hopefully be lighter weight.

[2014-12-02 22:49] taoeffect commented on #18
Ansible seems to force people to re-invent the wheel if they want to change just one tiny little thing.

We need something that does the opposite: allow people to combine multiple efforts together without stepping on each others toes.

[2014-12-02 22:51] taoeffect commented on #18
We need something with the idea of **services: does something exist? If it does, use it. If it doesn't, install it.** Right now Ansible overwrites other existing configurations because it assumes it owns them, and that's the problem.

[2014-12-02 22:55] taoeffect commented on #18
@PiPeep suggests splitting up the services in a package (like sovereign or empress) into the smallest possible roles. Then allow the user to specify if they want the package to manage those services itself or to use pre-existing already installed services.

This would allow sovereign and empress (and others) to be combined (if both projects used this approach).

[2014-12-02 23:05] taoeffect opened #56 "Get rid of common."
As discussed and explained in #18, we need to modularize all of the services provided into individual roles that can be, at the user's discretion, commented out and not run. HT to @PiPeep for suggesting this approach.

So that implies we must get rid of the `common` role completely and split all of its services out into separate roles.
##

<bountysource-plugin>
---
Want to back this issue? **[Post

[2014-12-02 23:09] taoeffect opened #57 "Write a blog post about the Modular Ansible Convention"
If you're using Ansible to help other people, [this convention of separating everything into the smallest possible service-focused roles](https://github.com/taoeffect/empress/issues/18#issuecomment-65320435) is the Right Thing to Do™.

We're going to do this for issue #56 `Get rid of common`.
##

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.

[2014-12-02 23:15] taoeffect opened #58 "Make tarsnap script configurable via yml files"
These should be configurable:
- Number of monthly/weekly backups
- What folders to backup
- What flags should be sent to tarsnap (certainly not `-L`, see #55).
- Arbitrary scripts to run along with the cron thing

Anything else?
##

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/6710692-make-tarsnap-script-configurable-via-yml-files

[2014-12-02 23:29] taoeffect opened #59 "bounced emails must get sent to `admin_email`"
cron stuff gets lost currently, php stuff could get lost, etc.

[2014-12-02 23:32] taoeffect commented on #59
We must make sure that `postmaster@{{ domain }}` doesn't get deleted, and we must make sure that that is forwarded to `{{ admin_email }}` as per: http://www.postfix.org/postconf.5.html#notify_classes

[2014-12-02 23:38] taoeffect commented on #59
`notify_classes = bounce, delay, resource, software`

and uncomment `delay_warning_time = 4h`, change `4h` to `30m`.

[2014-12-02 23:56] taoeffect opened #60 "Migrating INBOX"
Related issues: #50, #52, #47
1. Migrate using larch `--all`
2. Iterate over subfolders of INBOX using `doveadm mailbox list -u {{ email }} "INBOX.*"`
3. If a mailbox of the same name as that subfolder exists in the parent directory already (mailbox A), move all of the email inside of A into the subfolder (mailbox B), delete A, then move B up one directory

Note that some people actually have `INB

[2014-12-03 01:16] #10 closed, assigned to bgw

[2014-12-06 07:15] taoeffect opened #63 "check-rbl.pl doesn't work"
Cron sends these messages:

[code]
##

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/6810672-check-rbl-pl-doesn-t-work?utm_campaign=plugin&utm_content=tracker%2F8064840&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F8064840&utm_medi

[2014-12-06 07:17] taoeffect opened #64 "Fix tarsnap.sh"
- It creates a million backups each time it is run because it runs tarsnap for each `DIR`. Make it run the command only once.
- The silly `-L` option (#55)
- It shouldn't run `pg_dumpall` if it doesn't exist.
- Run something for mariadb
##

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/6810709-fix-tarsnap-sh?utm_campaign=plugin&utm_

[2014-12-09 20:59] paulhenrich opened #65 "Convenient virtual aliases special case"
I had an idea for a special case of mail_virtual_aliases that would help me a lot (I have ~100 aliases that I want to all go to my main account). I'm currently working against a branch of Sovereign, but just found Empress.

[code]

Thoughts on if this is worth doing in Empress?

[2014-12-09 21:03] paulhenrich commented on #65
I am thinking that this could work along side of the suggested inference in #12. No need to manually identify name with primary key in either case as far as I can tell.

[2014-12-09 21:09] taoeffect commented on #65
@paulhenrich Can you describe in a bit more detail what you'd like to do?

Empress already has a very simple way of defining `mail_virtual_aliases:`:

[code]

etc.

[2014-12-09 21:58] paulhenrich commented on #65
Sorry, I didn't realize that. That's almost exactly what I'm looking for. Closing.

[2014-12-09 21:58] #65 closed, assigned to nobody

[2014-12-09 22:32] bgw commented on #65
@paulhenrich Glad to hear it. In your opinion, is there some way we could improve the documentation to make this more clear for others with the same use-case in the future?

[2014-12-10 19:28] paulhenrich commented on #65
Nope, this was just carelessness on my part. Sorry about the interruption. Keep up the awesome work.

[2014-12-15 23:32] taoeffect opened #68 "Setup Vagrant file for testing/developing INBOX stuff on google"
Place testing IMAP server (the one we're migrating from) IP / password info in `private/credentials.yml` and retrieve them from there.
##

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/7039781-setup-vagrant-file-for-testing-developing-inbox-stuff-on-google?utm_campaign=plugin&utm_content=tracker%2F8064840&utm_medium=issues&utm_sourc

[2014-12-15 23:39] bgw commented on #68
There's a few ways to load these kinds of credentials.
- [Load the credentials in vagrant, and pass them to ansible](https://github.com/taoeffect/empress/blob/116183ba0ba66d932aec5071b3e0ccaa50ce322a/Vagrantfile#L14)
- [In the top-level playbooks, load secrets using `vars_files`](https://github.com/PiPeep/ansible-playbooks/blob/a8d0356688745be432eb7d8788645579bd5dbcb5/buyvm.yml#L5)
- Separate the

[2014-12-15 23:50] taoeffect commented on #68
I should have been clearer about what I need help with:
- Using the `private/credentials.yml` file in conjunction with Vagrant and Ansible to test migration from existing test IMAP server.
- Getting the machine provisioned and running the first place
- Then "re-doing" just the migration part as I make changes (without re-creating and destroying the machine)

[2014-12-16 04:30] bgw commented on #68
Modify `test.yml` so it runs the mail migration steps when the necessary credentials are supplied, and skips them when they aren't.

Depends on the exact problems you encounter in the process.

`vagrant provision` will re-run ansible without destroying and recreating the VM.

[2014-12-16 06:08] taoeffect commented on #63
Gah!

[code]

Will try installing `libnet-dns-perl` and see if that fixes it. cc @PiPeep

[2014-12-18 04:25] #59 closed, assigned to bgw

[2014-12-18 13:13] neuhaus commented on #18
We may also need different versions of a component, i.e. a full-fledged mail configuration (with filtering, imap server etc), and - if that's not installed but another module needs to send email - a minimal outbound-only mail system.

[2015-01-25 01:12] NJAldwin commented on #11
Might I suggest adding some sort of a roadmap?  As someone who doesn't know very much about these things, but who'd like to set up empress, I have no idea how long I should wait until it is stable enough for me to use.  Things like "Self-signed certs are free, easy, but are not yet authenticated by TLS (but will be)." don't really give a good indication (to me, at least) of when things might be fi

[2015-01-25 03:09] taoeffect commented on #63
That seems to have worked. However, these two servers need to be removed from the list of servers that's checked, as they have been taken offline:

[code]

[2015-01-25 03:10] taoeffect commented on #63
Also, it should be generally noted that the email that gets sent to users will confuse 99% of them most likely:

[code]

[2015-01-25 03:14] taoeffect commented on #11
Hmm, that line apparently confuses folks, so maybe I should get rid of that (or completely rephrase it).

That particular statement is a statement about the state of TLS in general (on the Internet), not about any issue with this project.

As far a road map goes, however... yes, that would be useful, but the truth is that this project is being worked on by only two people currently (myself and @Pi

[2015-01-25 03:17] taoeffect commented on #11
(That said, you are welcome to help us test and improve Empress. It's just suitable for sysadmins only at this point in time.)

[2015-01-25 05:08] bgw commented on #11
@NJAldwin, I concur with everything @taoeffect said. Since the original purpose of this project (provide @taoeffect with a mail-server) is served, I'm currently more focused on [ansible-honeybadger](https://github.com/pipeep/ansible-honeybadger), as I think it has the potential for more immediate positive social impact.

That said, if there's a serious issue, we'll patch it, but expect a lead time

[2015-01-25 05:15] bgw commented on #63
The upstream script has a patch: lukecyca/check-rbl#1, so we just need to change the commit id.

I'd also like to mention we should have a way of changing this list in the ansible config, because some of the block lists are IMHO useless, like `tor.dan.me.uk`, which lists you if you're running a non-exit tor relay. I'm pretty sure nobody uses that, however some people might use the less broad `tore

[2015-02-21 01:46] pkirkovsky commented on #56
What's the plan for moving stuff out of common and into separate modules? I'd love to help with this effort but I'm not sure where to start.

[2015-02-21 20:46] bgw commented on #56
@pkirkovsky, pretty much anything that's [separated into a different task file in the common role](https://github.com/taoeffect/empress/tree/master/roles/common/tasks) could become a role of it's own. Good things to start with would probably be mariadb and the security (which is really just intrustion-detection) stuff. I'd recommend splitting off one thing at a time.

Other parts, like user setup

[2015-02-21 20:54] taoeffect commented on #56
Yeah, there's that, and:
- anything with the [tarsnap](https://github.com/taoeffect/empress/labels/tarsnap) label (they're all sorta related).
- Issue #63 is causing annoyance and is easy to fix

Pretty much just have a look through the structure of the ansible files, the open issues, the various labels, and then take something and let us know that you're working on it so that we don't duplicate e

[2015-02-21 20:57] taoeffect commented on #56
@pkirkovsky As far as this issue is concerned, [the comments here](https://github.com/taoeffect/empress/issues/18#issuecomment-65027178) should help provide some guidance.

[2015-04-13 21:20] taoeffect opened #69 "Switch from postfix to qmail"
[qmail](http://cr.yp.to/qmail.html) is more secure and stable than postfix. It also supports the [ezmlm](http://cr.yp.to/ezmlm.html) mailing list software by the same author (legendary DJB), which today blew my mind away with its ability to handle bounced emails.

Thoughts/feedback on this idea welcome.

[2015-04-14 00:22] bgw commented on #69
qmail isn't actively developed anymore, and [hasn't been since 1998](http://www.lifewithqmail.org/lwq.html#history). There are forks of it (which is what Debian uses), but postfix is significantly better maintained, and likely does a better job of dealing with the modern web.

Additionally, postfix's design considers the privilege separation, strong input validation, and other design qualities tha

[2015-04-14 01:54] taoeffect commented on #69
Hmm.. some of this sounds familiar to me, we probably discussed this a while ago and came to the same conclusion. Oh well, it's a shame qmail isn't actively maintained, and that's kinda a deal breaker.

Thanks for the thoughts & comment!

[2015-04-14 01:54] #69 closed, assigned to nobody

[2015-07-07 22:29] taoeffect opened #70 "Set mail_max_userip_connections = 50 for IMAP"
For the IMAP protocol, [10 connections](https://serverfault.com/questions/385187/dovecot-ignoring-maximum-number-of-imap-connections) is too low. I'm seeing the logs filled with:

##

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/23895989-set-mail_max_userip_connections-50-for-imap?utm_campaign=plugin&utm_content=tracker%2F8064840&u

[2015-07-07 22:39] bgw commented on #70
Sounds fair. I think email clients often open multiple connections to sync multiple folders.

[2016-02-15 02:37] taoeffect opened #71 "Explain how PTR records are supposed to be set"
If people get delayed mail warnings or this type of thing:

[code]

Then explain that their PTR record needs to be set, and this can only be done by the company that owns the IP of their server (not necessarily the company that manages their DNS).

So for RamNode for example you need to [follow these instructions](https://clientarea.ramnode.com/knowledgebase.php?action=displayarticle&id=19), which

[2016-02-15 02:38] taoeffect commented on #71
Useful links:
- http://aplawrence.com/Blog/B961.html
- https://blog.codinghorror.com/so-youd-like-to-send-some-email-through-code/

[2016-03-19 00:45] taoeffect commented on #60
Relevant documentation:
- http://wiki2.dovecot.org/Tools/Doveadm/Mailbox
- http://wiki2.dovecot.org/Tools/Doveadm/Search
- http://wiki2.dovecot.org/Tools/Doveadm/Move

### Example: List info about all top-level mailboxes

This will show how the size of all top-level folders and how many messages are in them:

[code]

[2016-03-19 01:17] taoeffect commented on #60
### Example: Move messages in root folders into corresponding INBOX. folders

Note that this command skips the messages in `INBOX` (unlike the previous example) as it does `grep -v "INBOX"` instead of `grep -v "INBOX."`.

The `sed` command is used to handle folders with spaces in their name.

[code]

**Note the quotes around "INBOX.{}" and "{}"! These are important to handle mailboxes with spaces!

[2016-03-19 01:45] taoeffect commented on #60
### Important note on use of separators!

[The example at the bottom here](http://wiki2.dovecot.org/Tools/Doveadm/Mailbox) indicates that the folder separator may be a variable, so it's best to write these scripts like `"INBOX${SEP}{}"` instead of assuming it's `.` as in `"INBOX.{}"`

Relevant links on where this setting is stored:
- http://wiki.dovecot.org/Namespaces
- http://wiki.dovecot.org/Use